<!-- Empty Input Search Modal -->
<div class="modal fade" id="emptySearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-colored">
                <h3 class="modal-title">Add a Customer</h3>
            </div>
            <div class="modal-body">
                <h2 class="lead" style="color: red;">Email was left blank.</h2>
                <h4 class='lead'>Add a new customer? 
                    <button class='btn btn-primary' type='submit' id="openAddCustModal">Yes</button>
                    <button class='btn btn-secondary' type='button' data-dismiss='modal'>No</button>
                </h4>
            </div>
        </div>
    </div>
</div>


<!-- Add Customer Modal -->
<div class="modal fade" id="addCustModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-colored">
                <h3 class="modal-title">Add a Customer</h3>
            </div>
            <div class="modal-body">
                <form class="form-add-customer" id="cust_form" action='/customer/add' method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="input-group-prepend col-sm-4">
                            <span class="input-group-text">First Name: </span>
                        </div>
                        <div class="col-8">
                            <input type="text" id="first_name" name="first_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group-prepend col-sm-4">
                            <span class="input-group-text">Last Name: </span>
                        </div>
                        <div class="col-8">
                            <input type="text" id="last_name" name="last_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group-prepend col-sm-4">
                            <span class="input-group-text">Phone Number: </span>
                        </div>
                        <div class="col-8">
                            <input type="text" id="phone_number" name="phone_number" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group-prepend col-sm-4">
                            <span class="input-group-text">Email: </span>
                        </div>
                        <div class="col-8">
                            <input type="email" id="email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group-prepend col-sm-4">
                            <span class="input-group-text">Birthday: </span>
                        </div>
                        <div class="form-group col-8 date">
                            <input type="date" id="birthday" name="birthday" class="form-control">
                        </div>
                    </div>
                    <button class="btn btn-primary mr-2" type="submit">Add Customer</button>
                    <button class='btn btn-secondary' type='submit' data-dismiss='modal'>Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>