<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>360&deg; View</title>
</head>
<body class="text-center d-flex flex-column min-vh-100" style="padding-top: 3.5rem;">
    {% include "top-nav.html" %}   

    <div class="container-fluid">
        <div class="row">
            {% include "side-nav.html" %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="jumbotron h2">
                    <h1 class="cover-heading">Welcome, Agent {{ user_info.last_name }}</h1>
                </div>

                <h1 class="lead">Order History for {{ customer.first_name }}</h1>
                <div class="row row-cols-1 row-cols-md-3 text-center">
                    {% for order in orders reversed %}
                    <div class="card mb-4 rounded-3 ">
                        <div class="card m-2">
                            <!-- https://loremflickr.com/320/240/clothes -->
                            <img src="{% static 'img/crew_t.webp' %}" class="card-img-top" alt="crew neck t-shirt">
                            <h5 class="card-title mt-2">Order Number: {{order.id}}</h5>
                            {% for product in order.products.all %}
                            <div class="card-body">
                                <p class="card-text">{{ product.product_name }} for ${{ product.price }}</p>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>                
            </main>
        </div>
    </div>

    {% include "footer.html" %}   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()

        $("input[name='products']:checked").val()
    </script>

</body>
</html>