<nav class="col-md-2 d-none d-md-block bg-light sidebar text-left">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-5">
            {% if user_info.user_type == "admin" %}
            <li class="nav-item">
                <a class="nav-link" id="home_flush" href="/customer/maintenance">
                    <span data-feather="tool"></span>
                    Customer Maintenance
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" id="home_flush" href="/customer">
                    <span data-feather="users"></span>
                    Customer Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/info/{{customer.id}}">
                    <span data-feather="home"></span>
                    Customer Information <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/contact-history">
                    <span data-feather="file"></span>
                    Contact History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/order-history">
                    <span data-feather="shopping-cart"></span>
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/place-order">
                    <span data-feather="tag"></span>
                    Place New Order
                </a>
            </li>
        </ul>
    </div>
</nav>