{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/customer">360&deg; View</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNav">
        <ul class="navbar-nav mr-auto">
            {% if user_info.user_type == "admin" %}
            <li class="nav-item">
                <a class="nav-link" id="home_flush" href="/customer/maintenance">
                    <span data-feather="tool"></span>
                    User Maintenance
                </a>
            </li>
            {% endif %}
            <li class="nav-item active forSmOnly">
                <a class="nav-link" id="home_flush" href="/customer">
                    <span data-feather="users"></span>
                    Customer Search
                </a>
            </li>
            <li class="nav-item forSmOnly">
                <a class="nav-link" href="/customer/info/{{customer.id}}">
                    <span data-feather="home"></span>
                    Customer Information <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item forSmOnly">
                <a class="nav-link" href="/customer/contact-history">
                    <span data-feather="file"></span>
                    Contact History
                </a>
            </li>
            <li class="nav-item forSmOnly">
                <a class="nav-link" href="/customer/order-history">
                    <span data-feather="shopping-cart"></span>
                    Orders
                </a>
            </li>
            <li class="nav-item forSmOnly">
                <a class="nav-link" href="/customer/place-order">
                    <span data-feather="tag"></span>
                    Place New Order
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>Saved reports</span>
    <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
    </a>
</h6>
<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Current month
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Last quarter
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Social engagement
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Year-end sale
        </a>
    </li>
</ul> -->